<html>

<link rel='stylesheet' href='../../public/stylesheets/style.css'/>

<head> <title> This is my site</title> </head>

<body>

<a href='/' style="float:left; margin:auto; background-color: #ddd">Welcome to my site </a>

{{{body}}}


</body>




</html>
