<html>

<link rel='stylesheet' href='../../public/stylesheets/style.css'/>

<style>
a{
  float:left;
  margin:auto;
  background-color:#4775FF;
  color: black;
  font-style: bold;
  border: solid black 5px;

}
</style>
<head> <title> This is my site</title> </head>

<body>

  <a href='/'> Welcome to my site </a>

  {{{body}}}


</body>




</html>
