<style type="text/css">
	

div{
	margin: auto;
	text-align: center;
	font-family: Arial;
	font-size: 24px;
	background: #ddd;
	width: 50%;

}

body{
	background: #333;
}

</style>
<br>
<div>
<p>
Your balance is ${{balance}}</p>

<p> You can ride the Subway {{rides}} times!</p>


<p> If you want 10 rides, You want to add {{tenRidesBal}}
</p>

</div>