<style type="text/css">


div{
	margin: auto;
	text-align: center;
	font-family: Arial;
	font-size: 24px;
	background: #39f;
	width: 50%;
	border: solid black	12px
}

body{
	background: #4775FF;
}

</style>
<br>
<div>
	<p>
		Your balance is ${{balance}}</p>

		<p> You can ride the Subway {{rides}} times!</p>


		<p> If you want {{desNumRides}} rides, You want to add {{RidesBal}}
		</p>

	</div>
