
<style type="text/css">

div{


	font-size: 24px;
	width: 50%;
	height: 100%;

	margin: auto;
	text-align: center;
	border: solid 2px;
	background-color: #39f;


}

body{
	background-color: #4775FF;

}
h1{

	text-align: center;
}
p{
	font-family: Helvetica;
	text-align: center;
}


</style>
<div>
	Welcome to Subway Fare Calculator homepage!

	<p> Isn't it annoying when you put money on a Metrocard, only to realize after using most of your balance, you have a couple of cents left over?</p>

	<h1> Not Anymore!</h1>

	<p> This website will help you plan out in advance how much you need to put on your card so you minimize that cash left over on your card!</p>



	<p>What is your current Balance?</p>

	<form method="POST" action="">
		<b>Balance:</b><br>
		<input type="number" name="balance">
		<br>
		<b>Number of Rides</b> <br>
		<input type="number" name="desNumRides"> <br>
		<input type="submit" value="Submit">
	</form>



</div>
