
<style type="text/css">

div{

	font-family: Helvetica;
	font-size: 24px;
	width: 50%;

	margin: auto;
	text-align: center;
	border: solid 2px;

}
h1{

	text-align: center;
}
p{

	text-align: center;
}


</style>
<div>
Welcome to Subway Fare Calculator homepage!

<p> Isn't it annoying when you put money on a Metrocard, only to realize later your left with a quarter or two extra?</p>

<h1> Not Anymore!<h1>

	<p> This website will help you plan out in advance how much you need to put on your card so you minimize that cash left over on your card!</p>



<p>What is your current Balance?</p>

<form method="POST" action="">
Balance:<br>
<input type="number" name="balance">
<br>
Number of Rides <br>
<input type="number" name="desNumRides"> <br>
<input type="submit" value="Submit">
</form>



</div>
